services:

  envoy:
    image: envoyproxy/envoy:${ENVOY_VERSION:-v1.22-latest}
    ports:
      - "8080:8000"
      - "9901:9901"
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    # turn on logging as needed; can be noisy otherwise
    # logging:
    #   driver: none

  upstream:
    hostname: upstream
    image: echo-server:${IMAGE_TAG:-compose}
    build:
      context: tests/mocks/echo
      dockerfile: "Dockerfile"
    ports:
      - '8000:80'
    environment:
      - LOG_LEVEL=info

  trivial:
    hostname: 'trivial'
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    build:
      context: .
      dockerfile: "Dockerfile"
    ports:
      - '50051:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command: 
      - --logging
      - --service
      - examples.TrivialExtProcService

  timer:
    hostname: timer
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    ports:
      - '50052:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command: 
      - --logging
      - --service
      - examples.TimerExtProcService

  echo:
    hostname: echo
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    ports:
      - '50053:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command: 
      - --logging
      - --service
      - examples.EchoExtProcService

  digest:
    hostname: digest
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    ports:
      - '50054:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command:
      - --logging
      - --service
      - examples.DigestExtProcService

  decorated:
    hostname: decorated
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    ports:
      - '50055:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command: 
      - --logging
      - --service
      - examples.DecoratedExtProcService

  context:
    hostname: context
    image: envoy_extproc_sdk:${IMAGE_TAG:-compose}
    ports:
      - '50056:50051'
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - DD_TRACE_ENABLED=false
    command: 
      - --logging
      - --service
      - examples.CtxExtProcService
